<div class="Gestion">	
	<%= link_to "mi perfil", Mi_perfil_path(2),class: "btn btn-large btn-primary" %>
	<%= link_to "Mis Peliculas", films_management_path,class: "btn btn-large btn-primary" %>
	<%= link_to "Mi carrito", sign_up_path,class: "btn btn-large btn-primary" %>
</div>
