@import "bootstrap";

body
{
background-color:#15181B;
}
#contenedor{
	border:5px solid #FFFF00;
	position:absolute;
	height: 100%;
	width: 100%
}
#encabezado{
	border:5px solid #0000FF;
	position:relative;
	height: 5%;
	width:	99,9%;
	}
#cuerpo{
	border:5px solid #FFA500;
	position:relative;
	height: 86%;
	width:	99,9%;
	}
#pie{
	border:5px solid #00FF00;
	position:relative;
	height: 5%;
	width:	99,9%;
}

#control_login{
	position:relative;
	margin-right: 30px;
	float:right;
}

#menu_dch,#menu_izq{
	border:5px solid #FFA611;
	position:relative;
	height: 99%;
	width:	10%;
}
#menu_dch{
	float:right;
}
#menu_izq{
	float:left;
}	
#contenido{
	height: 99%;
	width:	77%;
	position:relative;
	border:5px solid #2B7336;
	float:left;
}

.gestion{
	text-aling : center;
	float:left;
}
#makeMeScrollable div.scrollableArea 
{
	position: relative;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}
